* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("resources/kelly-sikkema-UrafSwRu3hk-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#calculator {
  border-style: solid;
  border-width: 10px;
  border-color: burlywood;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 500px;
  height: 560px;
}

#display {
  background-color: whitesmoke;
  color: brown;
  flex: 0 0 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

#buttons {
  display: flex;
  flex-wrap: wrap;
}

button {
  border-width: 1px;
  border-color: burlywood;
  background-color: whitesmoke;
  color: brown;
  padding: 0px;
  margin: 0px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transition: 0.2s all;
}

button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.number,
.operator,
#clear,
#point {
  flex: 1 0 auto;
  width: 125px;
}
#point:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#number-buttons {
  display: flex;
  flex-wrap: wrap;
  width: 375px;
}

#op-buttons {
  display: flex;
  flex-direction: column;
  width: 125px;
  height: 448px;
}
